
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid gray;
    padding: 10px;
}
.input{
    margin: 5px;
    border: 1px solid gray;
}
.btn{
    width: 300px;
}
